[submodule "Plutonium"]
	path = libs/Plutonium
	url = https://github.com/XorTroll/Plutonium
[submodule "Atmosphere-libs"]
	path = libs/Atmosphere-libs
	url = https://github.com/Atmosphere-NX/Atmosphere-libs
[submodule "arc"]
	path = arc
	url = https://github.com/XorTroll/arc
