build/
.vscode/
lib/
SdOut/
*.elf
*.npdm
*.nso
*.nsp
*.nacp
*.nro
*.lst
*.gen.hpp
.vs/
bin/
obj/
old/
out/
target/
projects/uMenu/romfs/default
projects/uMenu/romfs/Logo.png
projects/uDesigner/assets/Logo.png
projects/uDesigner/assets/default-theme.zip
