[submodule "Plutonium"]
	path = Plutonium
	url = https://github.com/XorTroll/Plutonium
[submodule "libstratosphere"]
	path = libstratosphere
	url = https://github.com/Atmosphere-NX/libstratosphere
[submodule "master-libnx"]
	path = master-libnx
	url = https://github.com/switchbrew/libnx
